Many thanks for your time during our meeting today, it was very nice to meet you.

 

As discussed, please see details on the task that is the next stage of the process below:

The end product of this task will be a short video, showing the results of a small software project.

The project is to build a small web app with a UI that will allow for conversion from mass to volume flow units and vice versa. We would like you to build the “Unit Convertor” using UI widgets from webix using VS Code. Webix is a javascript framework and widget library and is the tool we will be using in our larger project (there are some links to webix learning resources at the end of this note.)

The unit convertor should be able to convert from any value to any other value in the following list ["m3/h", "l/s", "l/min","usgpm","f3/h","m3/h","l/s","l/min","usgpm","ft3/h","kg/h", "kg/min","kg/s","lb/h","lb/min","lb/s"]

The video should show the convertor working, and you should also explain how you approached the problem, how you tested your solution and how easy it would be to expand your code. For example how easy is it to add conversion from pressure to head units, or how easy it might be to integrate the UI into a larger project.

Webix learning resources:
.
https://webix.com/ is the main website see the resources section for video tutorials, examples etc..

https://medium.com/@aapavlenko/javascript-webix-library-through-the-eyes-of-a-freshman-260cb023b7a which is part 1 of a 3 part tutorial on building a simple webix app.

We use Loom internally for creating short videos. This is a good tool for the video part of the task.

If you have any questions or need any assistance, please let me know.